<div style="background-color:#ffffff">
    <div class="container-fluid">
      <div class="sixteen columns alpha">
      <!--   <ul class="footerlinks list-inline custom-menu"> <li> <a href="/about/index.shtml" rel="nofollow" title="About Us">About Us</a> </li><li> <a href="/faq/" rel="nofollow" title="FAQs">FAQs</a> </li><li> <a href="/support/" rel="nofollow" title="Support">Support</a> </li><li> <a href="https://blog.cleartrip.com" rel="nofollow" title="Blog">Blog</a> </li><li> <a href="https://www.cleartripforbusiness.com/" rel="nofollow" title="Cleartrip for Business">Cleartrip for Business</a> </li><li> <a href="/mobile/" rel="nofollow" title="Mobile">Mobile</a> </li></ul> -->
        <ul class="footerlinkssmall"> <li>International Airlines :</li>
          <li class="first"> <a href="/flight-booking/air-asia-airlines.html" title="Air Asia">Air Asia</a> </li>
          <li> <a href="/flight-booking/virgin-atlantic-airlines.html" title="Virgin Atlantic">Virgin Atlantic</a> </li>
          <li> <a href="/flight-booking/qatar-airways-airlines.html" title="Qatar Airways">Qatar Airways</a> </li>
          <li> <a href="/flight-booking/singapore-air-airlines.html" title="Sngapore Airline">Sngapore Airline</a> </li>
          <li> <a href="/flight-booking/philippine-airlines.html" title="Phillippine Airlines">Phillippine Airlines</a> </li>
          <li> <a href="/flight-booking/air-arabia-airlines.html" title="Air Arabia">Air Arabia</a> </li>
          <li> <a href="/flight-booking/british-airways-airlines.html" title="British Airways">British Airways</a> </li>
          <li> <a href="/flight-booking/lufthansa-airlines.html" title="Lufthansa">Lufthansa</a> </li>
          <li> <a href="/flight-booking/tiger-airways-airlines.html" title="Tiger Airways">Tiger Airways</a> </li>
          <li> <a href="/flight-booking/srilankan-airlines.html" title="Srilankan Airlines">Srilankan Airlines</a> </li>
          <li> <a href="/flight-booking/cathay-pacific-airlines.html" title="Cathay Pacific">Cathay Pacific</a> </li>
          <li> <a href="/flight-booking/thai-airways-airlines.html" title="Thai Airways">Thai Airways</a> </li>
          <li> <a href="/flight-booking/etihad-airways-airlines.html" title="Ethihad Airways">Ethihad Airways</a> </li>
          <li> <a href="/flight-booking/malaysia-airlines.html" title="Malaysia Airlines">Malaysia Airlines</a> </li>
          <li> <a href="/flight-booking/delta-airlines.html" title="DeltaAirlines">DeltaAirlines</a> </li>
          <li> <a href="/flight-booking/saudi-arabian-air-airlines.html" title="Saudi Airlines">Saudi Airlines</a> </li>
          <li> <a href="/flight-booking/air-france-airlines.html" title="Air France">Air France</a> </li>
          <li> <a href="/flight-booking/turkish-airlines.html" title="Turkish Airlines"> Turkish Airlines</a> </li>
          <li> <a href="/flight-booking/american-airlines.html" title="American Airlines"> American Airlines</a> </li>
          <li> <a href="/flight-booking/united-airlines.html" title="United Airlines"> United Airlines</a> </li>
          <li> <a href="/flight-booking/kuwait-airways-airlines.html" title="kuwait Airways">kuwait Airways </a> </li>
          <li> <a href="/flight-booking/jet-airways.html" title="Jet Airways">Jet Airways</a> </li>
          <li> <a href="/flight-booking/air-india-express-airlines.html" title="Air India Express">Air India Express</a> </li>
          <li> <a href="/flight-booking/air-india.html" title="Air India">Air India</a> </li>
        </ul>


        <ul class="footerlinkssmall">
          <li>International Flights :</li>
          <li class="first"> <a href="/flight-schedule/abu-dhabi-new-delhi-flights.html" title="Abu Dhabi New Delhi Flights">Abu Dhabi New Delhi Flights</a> </li>
          <li> <a href="/flight-schedule/abu-dhabi-kuwait-flights.html" title="Abu Dhabi Kuwait Flights">Abu Dhabi Kuwait Flights</a> </li>
          <li> <a href="/flight-schedule/abu-dhabi-bahrain-flights.html" title=" Abu Dhabi Bahrain Flights">Abu Dhabi Bahrain Flights</a> </li>
          <li> <a href="/flight-schedule/dubai-muscat-flights.html" title="Dubai Muscat Flights">Dubai Muscat Flights</a> </li>
          <li> <a href="/flight-schedule/dubai-doha-flights.html" title="Dubai Doha Flights">Dubai Doha Flights</a> </li>
          <li> <a href="/flight-schedule/abu-dhabi-muscat-flights.html" title="Abu Dhabi Muscat Flights">Abu Dhabi Muscat Flights</a> </li>
          <li> <a href="/flight-schedule/abu-dhabi-london-flights.html" title="Abu Dhabi London Flights">Abu Dhabi London Flights</a> </li>
          <li> <a href="/flight-schedule/dubai-london-flights.html" title="Dubai London Flights">Dubai London Flights</a> </li>
          <li> <a href="/flight-schedule/dubai-kuwait-flights.html" title="Dubai Kuwait Flights">Dubai Kuwait Flights</a> </li>
          <li> <a href="/flight-schedule/abu-dhabi-sydney-flights.html" title="Abu Dhabi Sydney Flights">Abu Dhabi Sydney Flights</a> </li>
          <li> <a href="/flight-schedule/abu-dhabi-manchester-flights.html" title="Abu Dhabi Manchester Flights">Abu Dhabi Manchester Flights</a> </li>
        </ul>

        <ul class="footerlinkssmall"> <li>Other Tools:</li><li> <a href="/" title="Cheap Air Tickets">Cheap Air Tickets</a> </li><li> <a href="/flights" title="Book cheap flights for travel within India and abroad">Domestic Flights</a> </li><li> <a href="/international-flights" title="Book cheap flights for travel within India and abroad">International Flights</a> </li><li> <a href="/status/" title="Flight Status">Flight Status</a> </li><li> <a href="/hotels/united-arab-emirates/" title="Hotels">Hotels</a> </li><li> <a href="/flight-tickets/cheap-flight-air-tickets-domestic.html" title="Domestic Air Tickets">Domestic Air Tickets</a> </li><li> <a href="/flight-schedule/flight-schedules-domestic.html" title="Domestic Flight Schedule">Domestic Flight Schedule</a> </li><li> <a href="/flight-booking/domestic-airlines.html" title="Domestic Airlines">Domestic Airlines</a> </li><li> <a href="/tourism/airports/" title="Domestic Airports">Domestic Airports</a> </li><li> <a href="/flight-tickets/cheap-flight-air-tickets-international.html" title="International Air Tickets">International Air Tickets</a> </li><li> <a href="/flight-schedule/flight-schedules-international.html" title="International Flight Schedule">International Flight Schedule</a> </li><li> <a href="/flight-booking/international-airlines.html" title="International Airlines">International Airlines</a> </li><li> <a href="/tourism/airports/international-airports.html" title="International Airports">International Airports</a> </li><li> <a href="/tourism/routes/" title="Travel Routes">Travel Routes</a> </li></ul> <div class="clear"></div><ul class="footerlinkssmall" style="width:100%;"> <li style="width:80%">&copy;2006-2017 Cleartrip Pvt. Ltd.</li><li> <a href="/privacy-policy/">Privacy</a> </li><li> <a href="/security/">Security</a> </li><li> <a href="/terms/">Terms of Use</a> </li></ul>
      </div>
    </div>
  </div>