<ul class="linklist list-inline">
  <% if top_routes.compact.nil? or top_routes.blank? %>
    <li><%= t('brand.no_top_routes')%></li>
  <% else %>
    <% if @city_section=="from"%>
    <% top_routes.compact.each do |route| -%>
      <% if !route.city_name_en.blank? && !route.city_name_ar.blank? %>
        <li>
          <% link = "/ar/flight-schedule/#{url_escape("#{@city_name}-#{route.city_name_en}-flights")}.html" %>
          <%= I18n.t('flights_routes_html', dep_city_name: @city_name_ar, arr_city_name: route.city_name_ar, link: link).html_safe %>
        </li>
      <% end %>
    <% end -%>
    <% else %> 
      <% top_routes.compact.each do |route| -%>
        <% if !route.city_name_en.blank? && !route.city_name_ar.blank? %>
          <li>
            <% link = "/ar/flight-schedule/#{url_escape("#{route.city_name_en.gsub(' ','-').downcase}-#{@city_name.downcase}-flights")}.html" %>
            <%= I18n.t('flights_routes_html', dep_city_name: route.city_name_ar, arr_city_name: @city_name_ar, link: link).html_safe %>
          </li>
        <% end %>
    <% end -%>
    <% end %>
  <% end %>
</ul>
<br>
